.color{
    background-color: #E6DDC4;
}

.ttl_size{
    font-size: 4rem;
    letter-spacing: 5rem;
    text-shadow: 3px 3px 2px rgb(28, 28, 28);
    background-color: rgba(9, 9, 9, 0.7);
}

.margin_top{
    margin-top: 2rem;
}

.footer{
    height: 10vh;
    padding: 0 2rem;
    border-top: 1px solid rgb(255, 255, 255);
}

.logo{
    width: 1.8%;
    margin-right: 2rem;
}

.h-img{
    height: 13rem;
    object-fit: cover;
}

.bg-color{
    background: linear-gradient(309deg, rgba(150,138,215,1) 0%, rgba(26,52,110,1) 51%, rgba(143,167,229,1) 86%);
}

.w-nav{
    height: 4rem;
}

.ttl_nav_color{
    height: 30rem;
    background-image: url("./img/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.txt_color_logo{
    color: rgb(218, 61, 100);
    font-weight: 600;
}

.nav_color{
    background-color: rgba(30, 30, 30, 0.8);
}

.btn-primary{
    background-color: rgba(30, 30, 30, 0.8) !important; 
    border: 1px solid rgba(79, 79, 79, 0.8) !important;
}

.btn-primary:hover{
    background-color: rgb(218, 61, 100) !important; 
    border: 1px solid rgb(218, 61, 100)!important; 
}

.active{
    font-weight: 600!important;
}

.nav-link:hover{
    color: rgb(218, 61, 100) !important; 
}

.btn-outline-success{
    background-color: rgb(218, 61, 100) !important; 
    border: 1px solid rgb(218, 61, 100)!important; 
}

.btn-outline-success:hover{
    background-color: rgba(30, 30, 30, 0.8) !important; 
    border: 1px solid rgba(79, 79, 79, 0.8) !important;
}

.ttl_spacing{
    letter-spacing: 2rem;
}

.bg-form{
    background-color: rgba(222, 222, 222, 0.6);
}

.btn_form_width{
    width: 7rem;
}


.bg_table{
    background-color: rgba(222, 222, 222, 0.6);
}

.ttl_spacing_table{
    letter-spacing: .4rem;
}

.details_container{
    width: 50rem;
    height: 25rem;
    background-color: rgba(222, 222, 222, 0.6);
    padding: 1rem;
    
}

.detail-img{
    width: 55% !important;
    height: 100%;
    object-fit: cover;
    margin-right: 2rem;
    box-shadow: 4px 4px 10px -2px #2A2A2A;
}

.price_btn_bottom{
    position: absolute;
    bottom: .5rem;
    width: 90%;
}

.card{
    height: 26rem !important;
}
.cardTransition{
    transition: 1s;
    animation: transition 1s;
}

@keyframes transition {
    0%{opacity: 0;
    transform: translateX(5rem)}
    100%{opacity: 1;
        transform: translateX(0)}
}

.cardTransition2{
    transition: 1s;
    animation: transition2 1s;
}

@keyframes transition2 {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@media (max-width: 769px){
    .img_size_nav{
        width: 9rem !important;
    }

    nav{
        height: 3rem !important;
    }

    footer img{
        width: 1.5rem !important;
    }
}

@media (max-width: 426px){
    .ttl_size{
        font-size: 2.5rem !important;
        letter-spacing: 1.5rem;
    }

    .ttl_spacing_table{
        letter-spacing: .2rem;
    }

    .check_index{
        display: flex;
        justify-content: center;
        padding: 0 1.5rem;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }

    footer img{
        width: 1.2rem !important;
    }
}

